body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.container {
  background-image: linear-gradient(to right, #ffeb3b, #ff9a9e);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

h2{
  text-align: center;
  margin-top: 10px;
}
.todo-container {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.list-container {
  overflow-y: auto;
  flex-grow: 1;
}

.list-container ul {
  padding: 0;
  margin: 0;
  max-height: 100%;
}

input {
  flex: 1;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  border: none;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: aquamarine;
  color: black;;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: rgb(29, 225, 160);
}

button:active {
  transform: scale(0.98);
}

.list-container li {
  display: flex;
  justify-content: space-between;
  text-indent: 10px;
  letter-spacing: 2px;
  align-items: center;
  padding: 8px 15px;
  margin-bottom: 10px;
  background-color: #ccf8cc;
  border-radius: 8px;
  border: 1px solid #c8e6c9;
  transition: all 0.3s;
}

.list-container li:hover {
  background-color: #b0f5b5;
}

.item-controls {
  display: flex;
  gap: 5px;
}

.item-controls button {
  padding: 8px 10px;
  font-size: 12px;
}

.item-controls button:nth-child(1) {
  background-color: #f44336;
  color: white;
}

.item-controls button:nth-child(1):hover {
  background-color: #d32f2f;
}

.item-controls button:nth-child(2),
.item-controls button:nth-child(3) {
  background-color: #2196F3;
  /* font-size: 13px; */
}

.item-controls button:nth-child(2):hover,
.item-controls button:nth-child(3):hover {
  background-color: #1976D2;
}